#article-list {
    position: relative;
    padding: 10px 0;
}

#article-list .asl-small-btn {
    cursor: pointer;
    padding-left: 10px;
}

#article-list .asl-small-btn:hover {
    font-weight: 900;
}

#article-list .fa-folder,
#article-list .fa-file {
    padding-right: 10px;
}

#article-list .item-title {
    text-decoration: none;
    color: inherit;
}

#article-list .item-title:hover {
    text-decoration: underline;
}

#article-list .offset {
    padding-left: 30px;
}


/** -- start asl-small-confirm -- */
#article-list .asl-small-confirm .btn-agree {
    color: green;
}

#article-list .asl-small-confirm .btn-cancel {
    padding-left: 0;
    color: red;
}
/** -- start asl-small-confirm -- */


/** -- start asl-item-menu -- */
#article-list .asl-item-menu {
    position: relative;
    display: none;
}

#article-list .article-list__item:hover > .asl-item-menu {
    display: inline-block;
}
/** -- end asl-item-menu -- */


/** -- start asl-nav-btn-back -- */
#article-list .asl-nav-panel a {
    cursor: pointer;
}
#article-list .asl-nav-panel a:hover {
    color: inherit;
    text-decoration: underline;
}
/** -- end asl-nav-btn-back -- */


/** -- start asl-element-edit, asl-section-edit -- */
#article-list .asl-edit {

}

#article-list .asl-edit__row {
    padding-top: 10px;
}

#article-list .asl-edit__row textarea,
#article-list .asl-edit__row input[type=text] {
    border-radius: 5px;
    min-width: 200px;
    padding: 3px;
    border: 1px solid #ccc;
}

#article-list .asl-edit__row textarea {
    min-width: 400px;
}

#article-list .asl-edit__row label {
    padding-bottom: 2px;
    display: block;
}

#article-list .asl-edit__img {
    max-width: 200px;
    height: auto;
}
/** -- end asl-element-edit, asl-section-edit -- */


/** -- start asl-message -- */
#article-list .article-list__message {
    color: #289400;
}

#article-list .article-list__message p.error {
    color: #ff7663;
}

#article-list .article-list__message i {
    cursor: pointer;
}
#article-list .article-list__message p {
    padding-bottom: 5px;
}
/** -- start asl-message -- */


/** -- start asl-overload -- */
#article-list .article-list__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.3;
    min-height: 60px;
    height: 100%;
}

#article-list .article-list__loading-icon {
    position: absolute;
    top: 45%;
    left: 45%;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #5b5b5b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/** -- end asl-overload -- */

#article-list .asl-edit .wsd-btn:hover {
    border-color: #414141;
}

#article-list .asl-edit .wsd-btn {
    text-decoration: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px 15px;
    display: inline-block;
    color: #414141;
    cursor: pointer;
}

#article-list .wsd-btn input[type=file] {
    display: none;
}